@import '@fontsource-variable/rubik';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
}

.mierda-anim { 
  animation: mierda 1s;
}

@keyframes mierda {
  0% {
    background-color: black;
  }
  100% {
    background-color: transparent;
  }
}